{% extends "base.html" %}
{% block content %}

<h2>Категории</h2>

{% for item in categories_with_counts %}
    <div>
        <h3>{{ item.category.name }}</h3>
        <p>Новости: {{ item.news_count }}, Статьи: {{ item.articles_count }}</p>

        {% if user.is_authenticated %}
            {% if item.subscribed %}
                <form action="{% url 'unsubscribe' item.category.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Отписаться</button>
                </form>
            {% else %}
                <form action="{% url 'subscribe' item.category.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Подписаться</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endfor %}

{% endblock %}